.facetwp-facet .facetwp-toggle {
  @apply font-arial text-[#7F7F7F] text-[13px];
}
.splide-carousel-block-search-camping .splide__arrow--prev {
  @apply -left-[80px] bg-bg-carousel-block-camping bg-contain bg-no-repeat bg-transparent w-[60px] h-[60px] rotate-180 max-md:hidden;
}
.splide-carousel-block-search-camping .splide__arrow--prev svg,
.splide-carousel-block-search-camping .splide__arrow--next svg {
  @apply hidden;
}
.splide-carousel-block-search-camping .splide__arrow--next {
  @apply -right-[80px] bg-bg-carousel-block-camping bg-contain bg-no-repeat bg-transparent w-[60px] h-[60px] max-md:hidden;
}
select,
.facetwp-dropdown {
  @apply text-black;
}
.search-bar .facetwp-dropdown{
  @apply text-[#757575];
}

@media (max-width: 768px) {
  .splide-carousel-block-search-camping .splide__pagination {
    position: absolute;
    bottom: -60px;
    display: flex;
    flex-direction: row;
    top: initial;
    left: 0;
  }
  .splide-carousel-block-search-camping
    .splide__pagination
    .splide__pagination__page {
    @apply bg-green;
  }
  .block-search-campings .filters .facetwp-facet {
    display: none;
  }
  .splide-carousel-block-search-camping .splide__pagination__page::before {
    content: attr(
      aria-label
    ); /* Par défaut, ça afficherait "Go to page 1" etc. */
    display: none; /* On va ignorer ça et mettre du texte personnalisé plus bas */
  }

  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(1)
    .splide__pagination__page::before {
    content: '1';
  }
  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(2)
    .splide__pagination__page::before {
    content: '2';
  }
  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(3)
    .splide__pagination__page::before {
    content: '3';
  }
  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(4)
    .splide__pagination__page::before {
    content: '4';
  }
  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(5)
    .splide__pagination__page::before {
    content: '5';
  }
  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(6)
    .splide__pagination__page::before {
    content: '6';
  }
  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(7)
    .splide__pagination__page::before {
    content: '7';
  }

  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(8)
    .splide__pagination__page::before {
    content: '8';
  }

  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(9)
    .splide__pagination__page::before {
    content: '9';
  }

  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(10)
    .splide__pagination__page::before {
    content: '10';
  }

  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(11)
    .splide__pagination__page::before {
    content: '11';
  }

  .splide-carousel-block-search-camping
    .splide__pagination
    li:nth-child(12)
    .splide__pagination__page::before {
    content: '12';
  }

  .splide-carousel-block-search-camping .splide__pagination__page::before {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #51ab7e !important;
    font-size: 14px;
    font-weight: bold;
  }

  .splide-carousel-block-search-camping .splide__pagination__page {
    position: relative;
    width: 30px;
    height: 30px;
    background: #666;
    border-radius: 50%;
  }
  .splide-carousel-block-search-camping .splide__pagination__page {
    background-color: transparent !important;
    color: #51ab7e !important;
  }
  .splide-carousel-block-search-camping .splide__pagination__page.is-active {
    transform: scale(1);
    background-color: #51ab7e !important;

    opacity: 1;
  }
  .splide-carousel-block-search-camping .splide__pagination__page.is-active::before{
    color: #fff !important; 
  }
}
