.block-hero .wrapper-search .search-input:focus {
  outline: none;
}
.block-hero .wrapper-search .search-submit {
  background-image: url('../../assets/media/search.png');
  content: '';
  width: 27px;
  height: 21px;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.block-hero__content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(90, 138, 129, 0.8) 100%
  );
  z-index: 1;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
.block-hero__content div {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .block-hero__content::before {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(90, 138, 129, 0.7) 100%
    );
    z-index: 1;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .search-bar {
    position: absolute !important;
    bottom: 0px;
    top: initial;
  }
  .page-template-template-recherche .search-bar {
    position: relative !important;
    bottom: 0px;
  }
  .page-template-template-recherche .search-bar .items-search-bar p {
    color: #000;
  }
  .items-search-bar input[type='checkbox'] {
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none;

    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 50%; /* rond */
    cursor: pointer;
    position: relative;
    outline: none;
    background: white;
    transition:
      background 0.2s,
      border-color 0.2s;
  }
  .items-search-bar input[type='checkbox']:checked {
    background: #e9b237;
    border-color: #e9b237;
  }

}
