body.no-scroll {
  overflow: hidden;
  height: 100vh; /* optionnel, utile pour bloquer totalement le défilement mobile */
}
nav {
  @apply max-md:overflow-x-hidden max-md:overflow-y-hidden max-md:!items-start max-md:h-[100%];
}
nav:first-of-type{
  @apply max-md:px-[15px];
}

nav .submenu {
  @apply overflow-hidden absolute opacity-0 invisible transition-opacity duration-0
         left-[calc(-100%_-_100%)] bg-bgGreen m-0 p-0 
         min-h-[300px] min-w-[590px] z-20 rounded-b-[110px] 
         px-[80px] top-[92px] pt-[40px] pointer-events-none
         max-md:left-0 max-md:top-0 
        max-md:p-0
         max-md:bg-white
         max-md:rounded-none
         max-md:min-w-full
         max-md:invisible
        max-md:[&.active]:visible
        max-md:opacity-0
        max-md:[&.active]:opacity-100
        max-md:[&.active]:px-[0px]
        max-md:overflow-x-hidden
        max-md:[&_.active]:-translate-x-[0px]
        max-md:absolute max-md:z-[20] max-md:w-full;
}
nav > ul > li:hover .submenu {
  @apply md:opacity-100 md:visible md:duration-500 md:pointer-events-auto ;
}

/* Items du submenu */
nav .submenu li {
  @apply opacity-0 translate-y-2 transition-all duration-0
  max-md:opacity-100 max-md:border-t-0 max-md:border-l-0 max-md:border-r-0 max-md:border-b max-md:border-solid max-md:border-black/15 /* instantané hors hover */
              max-md:before:content-[''] max-md:before:w-[15px] max-md:before:h-[15px] max-md:before:bg-arrow-menu-mobile
            max-md:before:absolute max-md:before:bg-contain max-md:before:bg-no-repeat
            max-md:before:right-[20px];
}
nav .submenu.active {
  @apply max-md:h-[100vh] max-md:z-[999999] max-md:fixed max-md:top-0
  max-md:w-full max-md:px-[15px];
}
nav > ul > li:hover .submenu li {
  @apply opacity-100 translate-y-0 duration-300; /* anime uniquement à l’entrée */
}

nav li:last-child a::after{
  @apply hidden;
}

/* Stagger uniquement à l’entrée (sur hover) */
nav > ul > li:hover .submenu li:nth-child(1) {
  transition-delay: 50ms;
}
nav > ul > li:hover .submenu li:nth-child(2) {
  transition-delay: 100ms;
}
nav > ul > li:hover .submenu li:nth-child(3) {
  transition-delay: 150ms;
}
nav > ul > li:hover .submenu li:nth-child(4) {
  transition-delay: 200ms;
}
nav > ul > li:hover .submenu li:nth-child(5) {
  transition-delay: 250ms;
}
nav > ul > li:hover .submenu li:nth-child(6) {
  transition-delay: 300ms;
}
nav > ul > li:hover .submenu li:nth-child(7) {
  transition-delay: 350ms;
}
nav > ul > li:hover .submenu li:nth-child(8) {
  transition-delay: 400ms;
}
nav > ul > li:hover .submenu li:nth-child(9) {
  transition-delay: 450ms;
}
nav > ul > li:hover .submenu li:nth-child(10) {
  transition-delay: 500ms;
}

nav .submenu > li {
  @apply list-none  m-0 p-0 w-[50%] font-arial text-[16px] font-[700] text-black mb-[25px] pb-[11px]
  max-md:mb-[15px] no-underline
  border-b border-t-0 border-l-0 border-r-0 border-solid border-[#333333]
  max-md:w-full max-md:min-h-[20px];
}
nav .submenu > li.active {
  @apply border-b border-t-0 border-l-0 border-r-0 border-solid border-green;
}
nav .submenu.active > li{
  @apply relative z-[9999999];
}
nav .submenu > li > a {
  @apply no-underline font-ivymode;
}

nav .submenu > li > a::after {
  
}

nav .submenu > li .submenu-child {
  @apply list-none absolute top-0 bg-bgGreen m-0 p-0 -right-[1000%] max-md:[&.active]:right-[0] md:[&.active]:-right-[100%] transition-all
    max-md:relative max-md:bg-white
    max-md:invisible
        max-md:[&.active]:visible
        max-md:opacity-0
        max-md:[&.active]:opacity-100
        max-md:border max-md:border-black/15 max-md:border-solid max-md:border-t max-md:border-b-0  max-md:border-l-0  max-md:border-r-0
       
        md:w-[200px] max-md:mt-0 max-md:pt-[0]
        max-md:left-0 max-md:h-0 max-md:m-0 max-md:p-0;
}

nav .submenu > li .submenu-child.active{
  @apply max-md:left-0 max-md:h-max  max-md:mt-[15px] max-md:pt-[15px];
}
nav .submenu > li .submenu-child > li {
  @apply font-arial text-[12.6px] text-black font-[400] mb-[7px]
  max-md:border-0 max-md:before:hidden;
}

@media(max-width:768px){
  .block-hero__content__navigation > div:first-child{
    height: 100%;
    z-index: 9999 !important;
  }
}

@media (min-width: 768px) {

  .single-camping nav > ul:first-child li a,
  .error404 nav > ul:first-child li a,
  .page-template-template-recherche nav > ul:first-child li a {
    @apply text-black;
  }
  .single-camping nav > ul:first-child li:hover::after, 
  .error404 nav > ul:first-child li:hover::after, 
  .page-template-template-recherche nav > ul:first-child li:hover::after {
    @apply bg-black;
  }
  .single-camping nav > ul:first-child li a::after,
  .error404 nav > ul:first-child li a::after,
  .page-template-template-recherche nav > ul:first-child li a::after {
    @apply bg-arrow-black;
  }
.single-camping #hero-carousel::before,
  .error404 #hero-carousel::before,
  .page-template-template-recherche #hero-carousel::before {
    display: none;
  }
  .single-camping  .block-hero__content__navigation,
  .error404 .block-hero__content__navigation,
  .page-template-template-recherche .block-hero__content__navigation {
    @apply border-black;
  }
}


@media (max-width: 767.98px) {
  nav .submenu.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .wpml-ls-statics-shortcode_actions{
    max-width: 90px;
  }
}


.block-hero__content__navigation.is-sticky{
  position: fixed;
  top: 0;
  left: 0;         
  right: 0;        
  z-index: 1000 !important;
  background: #fff; 
  box-shadow: 0 2px 8px rgba(0,0,0,.08); 
      width: 100% !important;
}
.block-hero__content__navigation.is-sticky nav > ul > li > a {
  @apply !text-black
}
.block-hero__content__navigation.is-sticky nav > ul > li > a::after{
  @apply !bg-arrow-menu-black;
}
.block-hero__content__navigation.is-sticky .origin{
  @apply hidden;
}
.block-hero__content__navigation.is-sticky .color{
  @apply block max-w-[260px] w-full;
}


.fdate-wrap { will-change: transform; }

/* quand la search-bar est en bas -> le calendrier s'ouvre au-dessus */
.fdate-wrap.above {
  transform: translateY(calc(-100% - 60px)); /* ou -410px si tu préfères fixe */
}
@media(max-width:768px){
.fdate-wrap.above {
    transform: translateY(calc(-100% - 35px)) translateX(-30px);
}
}

/* quand la search-bar est en haut -> le calendrier s'ouvre en dessous */
.fdate-wrap.below {
  transform: translateY(20px);
}

@media(max-width:768px){
  .title-mobile-card-camping{
    @apply max-md:bg-white max-md:text-[14px] max-md:rounded-[40px] max-md:px-[22px] max-md:py-[10px] max-md:text-[#51ab7e] max-md:font-bold;
  }
}

